The answer to all questions {{Answer}}
True or not: {{YesNo}}
Mango is {{Taste}}
Arielle lives deep {{Deep.under}}
The colors of the traffic light: {{TrafficLight}}
---
{{#TrafficLight}}
{{.}}
{{/TrafficLight}}
--